.titulo{
    text-align: center;
    font-size: 70px;
    color: #402A22;
}

.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 50px;
    padding-bottom: 30px;
    background: linear-gradient(rgba(242, 213, 196, 1), rgba(217, 161, 113, 1) );
    border-radius: 100px;
    border-top-left-radius: 0;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.text {
    color: #402A22;
    font-size: 36px;
    font-weight: 500;
}

.inputs {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input {
    display: flex;
    width: 90%;
    height: 50px;
    border-radius: 30px;
    border: 2px solid #402A22;
    background: #ffffff;
    margin: auto;
    margin-top: -20px;
}

.input input {
    height: 40px;
    width: 100%;
    background: #ffffff;
    border-radius: 30px;
    padding-left: 10px;
    border: none;
    outline: none;
    color: #402A22;
    font-size: 17px;
    margin-top: 5px;
}

.Email-Contraseña {
    color: rgba(64, 42, 34, 1);
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    margin-left: 30px;
}

.forgot-password{
    margin-top: 27px;
    color: #402A22;
    font-size: 18px;
    cursor: pointer;
    text-align: left;
    margin-left: 30px;
}

.submit-container{
    display: flex;
    gap: 30px;
    margin: 40px auto;
    width: 70%;
    flex-direction: column;
    align-items: center;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 60px;
    color: #ffffff;
    background-color: rgba(166, 64, 27, 0.68);
    border-radius: 50px;
    font-size: 19px;
    font-weight: 300;
    cursor: pointer;
}
.gray{
    background-color: #eaeaea ;
    color: #676767;
}

.nombre-de-usuario{
    color: #402A22;
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    margin-left: 30px;
    margin-bottom: 45px;
}